.profile-container {
    padding: 20px;

    .profile-grid {
        height: 300px;
        text-align: initial;
        padding: 18px;

        .profile-item {
            display: flex;

            .MuiSvgIcon-root {
                margin-right: 5px;
            }
        }
    }
}