.head-title {
    font-size: 20px;
    margin-bottom: 20px;
}

.support-modal {
    .modal-content {
        padding: 20px;
        border-radius: 10px;

    }
}

.modal-container {
    min-height: 200px;
    width: 100%;


    .form-content {
        display: flex;
        flex-direction: column;
        width: 100%;
        padding: 10px 0px;
        align-items: center;

        .form-input {
            width: 90%;
            margin-bottom: 30px;
        }
    }

    .button-container {
        display: flex;
        width: 100%;
        justify-content: space-around;

        button {
            max-width: 150px;
        }
    }

    .modal-container {
        width: 100%;

    }

}