.customer-card,
.inventory-card {
    margin-bottom: 30px;
    box-shadow: 0 3px 6px rgba(0, 0, 0, 0.16), 0 3px 6px rgba(0, 0, 0, 0.23);
}

.customers-container,
.inventory-main {
    .MuiPaper-rounded {
        box-shadow: none !important;
        background-color: transparent !important;
    }

    .MuiTabPanel-root {
        padding: 0;
    }

    .list-page {
        padding: 30px;
    }
}

.bold-font {
    font-weight: bold;
}

.padding-15 {
    padding: 15px;
}

.align-left {
    text-align: left;
}

.base-item {
    height: 200px;
}