.customer-card {
    margin-bottom: 30px;
}

.customers-container {
    .list-page {
        padding: 30px;
    }
}

.bold-font {
    font-weight: bold;
}

.padding-15 {
    padding: 15px;
}

.align-left {
    text-align: left;
}

.base-item {
    height: 200px;
}