.modal {
    position: absolute;
    display: flex;
    justify-content: center;
    align-items: center;


}

.modal-content {
    background-color: white;
    padding: 30px;
    box-shadow: 0 14px 28px rgba(0, 0, 0, 0.25), 0 10px 10px rgba(0, 0, 0, 0.22);
    border-radius: 5px;
}

.error-text-show {
    height: 20px;
    opacity: 1;
}

.error-text-hidden {
    margin-top: -25px;
    text-align: left;
    margin-left: 25px;
    margin-bottom: 20px;
    color: red;
    opacity: 0;
    height: 0px;
    transition: all 0.7s cubic-bezier(.25, .8, .25, 1);
}

