.card-container {
    padding: 20px !important;
    margin: 10px !important;
    box-shadow: 0 1px 3px rgba(0, 0, 0, 0.12), 0 1px 2px rgba(0, 0, 0, 0.24);
    transition: all 0.3s cubic-bezier(.25, .8, .25, 1);
    background-color: white;

    &:hover {
        cursor: pointer;
        box-shadow: 0 14px 28px rgba(0, 0, 0, 0.25), 0 10px 10px rgba(0, 0, 0, 0.22);
    }
}

.sub-form-heading {
    padding: 15px 10px;
    background-color: #e8e8e8;
    margin: 10px 0;
    border-radius: 10px;
}

.modal {
    position: absolute;
    display: flex;
    justify-content: center;
    align-items: center;


}

.modal-content {
    background-color: white;
    padding: 30px;
    box-shadow: 0 14px 28px rgba(0, 0, 0, 0.25), 0 10px 10px rgba(0, 0, 0, 0.22);
    border-radius: 5px;
}

.error-text-show {
    height: 20px;
    opacity: 1;
}

.error-text-hidden {
    margin-top: -25px;
    text-align: left;
    margin-left: 25px;
    margin-bottom: 20px;
    color: red;
    opacity: 0;
    height: 0px;
    transition: all 0.7s cubic-bezier(.25, .8, .25, 1);
}



.tabs-container {
    display: flex;
    flex-wrap: wrap;
    justify-content: center;

    .tab-button {
        padding: 5px 0px;
        margin: 2px;
        min-width: 100px;
        text-align: center;
        border-radius: 7px;
        border: 2px solid #48a89c;
        color: black;
        font-size: 13px;
        font-weight: 300;

        &:hover {
            cursor: pointer;
            background-color: #48a89c;
            color: white;
        }
    }

    .active {
        background-color: #48a89c;
        color: white;
    }
}

.stepper-content {
    display: flex;
    justify-content: center;
    align-items: center;
    margin-top: 30px;
}

.step-container {
    display: flex;
    flex-wrap: wrap;
    justify-content: space-evenly;
}